body {
    width: 100vw;
    height: 100vh;
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    width: 100vw;
    min-height: 20vh;
    max-height: 400px;
    align-items: center;
    justify-content: center;
}
.title {
    /*TODO Quote word*/
    color: transparent;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    background: linear-gradient(90deg, #7c5cff, #00d4ff);
    background-clip: text;
    -webkit-background-clip: text;
}
main {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    width: 85%;
    min-height: 50%;
    background-color: #1e1e2f;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding: 30px;
    justify-content: center;
    margin-top: 5vh;
    gap: 50px;
}
.quote {
    position: relative;
    letter-spacing: 1px;
    line-height: 4vi;
    text-align: center;
    font-size: 3vi;
    color: rgb(236, 236, 236);   
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
.quote::before {
    content: "\201C";
    font-size: 60px;
    color: #7c5cff;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: -20px;
    left: 0;
    opacity: 0.8;
}
.quote::after {
    content: "\201D";
    font-size: 60px;
    color: #7c5cff;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: -20px;
    right: 0;
    opacity: 0.8;
}
.quote-owner {
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    color: rgb(205, 204, 204);    
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
}
.new-btn {
    min-width: 250px;
    max-width: 300px;
    min-height: 120px;
    max-height: 200px;
    margin-top: 7vh;
    background-color: #7c5cff;
    font-size: 35px;
    color: rgb(236, 236, 236);
    font-family: 'Pacifico', cursive;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}